@use "../abstract/" as *;

.card {
  @include center-block;
  padding: 3.2rem;
  max-width: 92rem;
  width: 100%;
  background-color: $color-background-light;
  border-radius: 2.5rem;
  box-shadow: 0 20px 40px 20px rgba($color-background-primary-strong, 0.1),
    0 5px 5px -5px rgba($color-background-primary-base, 0.25);

  & &__container {
    display: flex;
    justify-content: space-between;
  }

  & &__calculator,
  & &__result-container {
    flex: 1;
  }

  & &__calculator {
    margin: {
      top: 1.3rem;
      left: 1.6rem;
    }

    .card__input-box {
      position: relative;

      &:not(:last-child) {
        margin: {
          bottom: 4rem;
        }
      }

      &--tip {
        h2 {
          margin: {
            bottom: ;
          }
        }
      }

      h2,
      .error {
        margin: {
          bottom: 0.6rem;
        }
        font-size: $font-size-200;
      }

      .error {
        position: absolute;
        top: 0;
        right: 0;
        color: $color-text-error;

        &--hidden {
          display: none;
        }
      }

      .card__tip-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.4rem;
      }

      .card__tip {
        width: 100%;
        height: 4.8rem;

        label {
          display: block;
          padding: 0.6rem;
          width: 100%;
          text-align: center;
          color: $color-text-light;
          background-color: $color-background-primary-strong;
          border-radius: 0.5rem;
          cursor: pointer;

          &:focus {
            color: $color-text-secondary;
            background-color: $color-background-primary-base;
          }

          &:hover {
            color: $color-text-secondary;
            background-color: $color-background-primary-weak;
          }
        }
      }
    }
  }

  &__result-container {
    margin: {
      left: 4.8rem;
    }
    padding: 4rem;
    background-color: $color-background-primary-strong;
    border-radius: 1.5rem;

    .card__result {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--tip {
        margin: {
          bottom: 2.5rem;
        }
      }

      &--bill {
        margin: {
          bottom: 12.2rem;
        }
      }

      .text-content {
        h3 {
          margin: {
            bottom: -1.2rem;
          }
          font-size: $font-size-200;
          color: $color-text-light;
        }

        span {
          font-size: $font-size-100;
          @include letter-spacing(-5);
        }
      }

      .card__total-amount {
        font-size: $font-size-600;
        color: $color-text-primary;
      }
    }
  }
}
