@use "../abstracts/" as *;

input {
  &[type="radio"] {
    display: none;
  }

  &.form-input::placeholder {
    color: color(neutral, 400);
  }

  &[data-tip-custom]::-webkit-input-placeholder {
    color: color(neutral, 500);
  }
}

.form-input {
  padding: toRem(6) toRem(17);
  width: 100%;
  font-size: fs(large);
  text-align: right;
  color: color(cyan, 500);
  background-color: color(neutral, 200);
  outline: 2px solid color(neutral, 200);
  border-radius: toRem(5);
  border: none;
  appearance: textfield;
  transition: outline-color 300ms ease;

  &:focus {
    outline-color: color-mix(
      in srgb,
      rgba(color(cyan, 500), 0.4),
      rgba(color(cyan, 400), 0.5)
    );
  }

  &.error {
    outline-color: color(red, 500);
  }

  @include mq(medium) {
    &[data-tip-custom] {
      padding: toRem(6) toRem(14);
    }
  }
}

.calculator {
  @include mq(medium, max) {
    padding-inline: toRem(8);
  }

  @include mq(medium) {
    padding: toRem(13) 0 toRem(16) toRem(16);
  }

  &__input-box {
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }

    @include mq(small, max) {
      margin-bottom: toRem(32);
    }

    h2 {
      font-size: fs(base);
    }

    &--tip {
      h2 {
        margin-bottom: toRem(16);
      }
    }

    &--bill h2,
    &--people h2 {
      margin-bottom: toRem(6);
    }

    &--people {
      position: relative;

      > .error {
        position: absolute;
        top: 0;
        right: 0;
        color: color(red, 500);

        &[aria-hidden="true"] {
          display: none;
        }
      }
    }
  }

  &__input-enter {
    position: relative;

    img {
      position: absolute;
      top: toRem(16);
      left: toRem(17);
    }

    .icon-dollar {
      margin-left: toRem(2);
    }
  }

  &__tip-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(16);

    @include mq(medium) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: toRem(14);

      > * {
        width: toRem(117);
      }

      label {
        width: toRem(117);
      }
    }

    label {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-block: toRem(6);
      font-size: fs(large);
      color: color(neutral, 100);
      background-color: color(cyan, 500);
      border-radius: toRem(5);
      cursor: pointer;
      transition: color 300ms ease, background-color 400ms ease;

      &:hover {
        color: color(cyan, 500);
        background-color: rgba(color(cyan, 400), 0.2);
      }
    }

    input[type="radio"]:checked + label {
      color: color(cyan, 500);
      background-color: color(cyan, 400);
    }
  }
}
