@use "../abstracts/" as *;

.header {
  display: flex;
  justify-content: center;

  &__logo {
    padding-block: toRem(50) toRem(34);

    @include mq(small) {
      padding-block: toRem(163) toRem(81);
    }
  }
}
