$font-family-default: "Space Mono", sans-serif;
$font-weight-bold: 700;
$ofnt-size-600: 4rem;
$ofnt-size-500: 3.2rem;
$ofnt-size-400: 2.4rem;
$ofnt-size-300: 2rem;
$ofnt-size-200: 1.6rem;
$ofnt-size-100: 1.4rem;
